NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cHJvdmVuLXNoZWVwZG9nLTIwLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_HkUb9sRm6VpFZENTh6eZAXDLzGr2YlaU271ppxT2SU
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/salons
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/salons

MONGODB_URI=mongodb+srv://ankitask46_db_user:OnnWRiqSY5Z7sBkY@cluster0.xzib7a5.mongodb.net/?appName=Cluster0

GEMINI_API_KEY=AQ.Ab8RN6IVywGdH0Xe42duLUCPiNE3PceJIIW-kNGMKzqo9E5T9Q

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dcfyvb7hz
CLOUDINARY_API_KEY=578258691775318
CLOUDINARY_API_SECRET=5hldG7RcmVd4kfmxlHUSap0LenU

DEMO_USER_EMAIL=demo@glamora.in
DEMO_USER_PASSWORD=Demo@2026
NEXT_PUBLIC_DEMO_USER_EMAIL=demo@glamora.in
NEXT_PUBLIC_DEMO_USER_PASSWORD=Demo@2026
